.main-frame-container{
    width: 100%;
    background-color: #202020;
    display: flex;
    justify-content: center;
    
}

.video-frame{
    height: 600px;
    border-bottom: 2px solid rgb(119, 117, 117);
    
    
}

#fr{
    height: 500px;
    width: 100%;
    border-radius: 20px;
}

.frame-container{
    width: 85%;
    color: white;
    text-align: start;
    padding-top: 15px;
}

.frame-container-card{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}

.video-frame  p{
    display: inline;
    
}
.video-frame h2{
    margin: 0.50em 0;
}


.container-frame-vote{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#timecount::after{
  content: "";
  height: 5px;
  width: 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 2px;
}

.gg{
    height: 30px;
    
    width: 60px;
    /* max-width: 30px; */
    background-color: rgb(122, 122, 122);
    border-radius: 15px;
    display: inline-block;
    text-align: center;
    font-size:medium;
    line-height: 2;
    margin-right: 5px;
    cursor: pointer;
}




#gg1::before{
    content: '';
    background: url('../images/icons8-thumb-64.png') no-repeat;
    height: 0.8em;
    width: 0.8em;
    margin-right: 7px;
    display: inline-block;
    background-size: contain;

}
#gg2::before{
    content: '';
    background: url('../images/icons8-thumb-64\(1\).png') no-repeat;
    height: 0.8em;
    width: 0.8em;
    margin-right: 7px;
    display: inline-block;
    background-size: contain;

}

